{{inject "category" category}}
{{inject "customer" customer}}
{{#if category.products}}
    {{> components/products/filter sort=pagination.category.sort}}

    <!-- Button for adding all to cart -->
    <a href="#" onclick="createCart(event)" data-products="{{category.products}}" data-event-type="product-click" data-button-type="add-cart" class="button button--small addAllButton">Add All to Cart</a>
    <!-- Button for removing cart items -->
    <a href="#" onclick="deleteCart(event)" data-products="{{category.products}}" data-event-type="product-click" data-button-type="remove-cart" class="button button--small removeAllButtonDisabled">Remove All Items</a>
    <br />
    <span id='itemAdded'>All Items Added to Cart!</span>
    <span id='itemRemoved'>All Items Removed!</span>

    <form action="{{urls.compare}}" method='POST' {{#if settings.data_tag_enabled}} data-list-name="Category: {{category.name}}" {{/if}} data-product-compare>
        {{#if theme_settings.product_list_display_mode '===' 'grid'}}
            {{#if settings.data_tag_enabled}}
                {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings event="list" }}
            {{else}}
                {{> components/products/grid products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
            {{/if}}
        {{else}}
            {{#if settings.data_tag_enabled}}
                {{> components/products/list products=category.products show_compare=category.show_compare theme_settings=theme_settings event="list" }}
            {{else}}
                {{> components/products/list products=category.products show_compare=category.show_compare theme_settings=theme_settings}}
            {{/if}}
        {{/if}}
    </form>

    {{> components/common/paginator pagination.category}}
{{else}}
    <p data-no-products-notification
       role="alert"
       aria-live="assertive"
       tabindex="-1"
    >
        {{lang 'categories.no_products'}}
    </p>
{{/if}}

<script>
    console.log({{{json customer}}})
    fetch(`https://jenkinscommerce.mybigcommerce.com/api/storefront/carts`, {
            method: "GET",
        })
        .then(res => res.json())
        .then(data => {
            //Checks if cart has items and enables Remove button
            if (data.length) {
                document.querySelector('.removeAllButtonDisabled').style.pointerEvents = 'auto';
                document.querySelector('.removeAllButtonDisabled').style.cursor = 'pointer';
                document.querySelector('.removeAllButtonDisabled').classList.add("removeAllButtonEnabled");
                document.querySelector('.removeAllButtonDisabled').classList.remove("removeAllButtonDisabled");
            } else {
                document.querySelector('.removeAllButtonDisabled').style.pointerEvents = 'none';
                document.querySelector('.removeAllButtonDisabled').style.cursor = 'default';
            } 
        })

    function createCart(event) {
        event.preventDefault();
        let body = {
            "line_items": [
                {
                    "quantity": 1,
                    "product_id": 112
                }
            ]
        }

        fetch(`https://jenkinscommerce.mybigcommerce.com/api/storefront/carts`, {
            method: "POST",
            credentials: "same-origin",
            headers: {
                "Content-Type": "application/json"},
            body: JSON.stringify(body)
        })
        .then(res => res.json())
        .then(data => console.log(data))
        .catch(error => console.log(error))

        document.querySelector('#itemAdded').style.display = 'block';
        
        document.querySelector('.removeAllButtonDisabled').style.pointerEvents = 'auto';
        document.querySelector('.removeAllButtonDisabled').style.cursor = 'pointer';
        document.querySelector('.removeAllButtonDisabled').classList.add("removeAllButtonEnabled");
        document.querySelector('.removeAllButtonDisabled').classList.remove("removeAllButtonDisabled");

        setTimeout(() => {
            document.querySelector('#itemAdded').style.display = 'none';
        }, 3000)
    }

    function deleteCart(event) {
        event.preventDefault();
        fetch(`https://jenkinscommerce.mybigcommerce.com/api/storefront/carts`, {
            method: "GET",
        })
        .then(res => res.json())
        .then(data => {
            let cartId = data[0].id;
            fetch(`https://jenkinscommerce.mybigcommerce.com/api/storefront/carts/${cartId}`, {
                method: 'DELETE'
            })
            document.querySelector('#itemRemoved').style.display = 'block';
            document.querySelector('.removeAllButtonEnabled').style.pointerEvents = 'none';
            document.querySelector('.removeAllButtonEnabled').style.cursor = 'default';
            document.querySelector('.removeAllButtonEnabled').classList.add("removeAllButtonDisabled");
            document.querySelector('.removeAllButtonEnabled').classList.remove("removeAllButtonEnabled");

            setTimeout(() => {
                document.querySelector('#itemRemoved').style.display = 'none';
            }, 3000)
        })
    }
</script>
